node_modules/
.DS_Store
.next/

# Environment variables
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# Coverage reports
coverage/
coverage/**
lcov.info
.nyc_output/

cypress/videos/
cypress/screenshots/