{% if section.settings['show-announcement'] %}
  <section>
    <div class="announcement-bar"></div>
  </section>
{% endif %}

<style>
  .announcement-bar {
    background: black;
    height: 40px;
    width: 100%;
  }
</style>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show-announcement",
        "label": "Show Announcement",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Black Bar"
      }
    ]
  }
{% endschema %}