<section class="more-info">

  <div class="more-info-wrapper">
    {% if section.settings.text != blank %}
      <h1>{{ section.settings.text }}</h1>
    {% else %}
      <h1>Chase Endless Adventures</h1>
    {% endif %}
    {% if section.settings.text2 != blank %}
      <p>{{ section.settings.text2 }}</p>
    {% else %}
      <p>Handpicked pieces, designed for wherever life takes you.</p>
    {% endif %}

    <a href="/collections/new">
      <button>Shop now</button>
    </a>

  </div>

</section>

<style>
  .more-info {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
  }


  .more-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
  }

  .more-info-wrapper h1 {
    font-size: 48px;
    font-weight: lighter;
    font-family: "Times New Roman", Georgia, "Garamond", serif;
    margin-bottom: -5px;
  }

  .more-info-wrapper p {
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .more-info-wrapper button {
    padding: 20px 50px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
  }

  .more-info-wrapper button:hover {
    opacity: 0.8;
  }
</style>

{% schema %}
  {
    "name": "More-info",
    "settings": [
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "info": "#000000"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background",
        "info": "#F4F4F4"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }, {
        "type": "text",
        "id": "text2",
        "label": "Text2"
      }
    ],
    "presets": [
      {
        "name": "more-info"
      }
    ]
  }
{% endschema %}